@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-primary-100 { @apply bg-indigo-100; }
  .text-primary-800 { @apply text-indigo-800; }
}

.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}
.overflow-y-auto::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-full;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400;
}
